<div class="container">

    <div class="body">
        <h1>Pregled Razreda</h1>
    </div>
    
    <nav class="main-nav">
    <span (click)="razredi()" class="link">Razredi</span>                     
    <span>|</span>
    <span (click)="odeljenja()" class="link">Odeljenja</span>                
    </nav>

    <div class="body">
        <!--Filtriranje-->
        <!-- List Directory -->
        <div id="filterSection" class="container content-space-1">
            <!-- Form -->
            <form>
                <div class="row gx-2 gx-md-3 mb-7">
                    <div class="col-md-4 mb-2 mb-md-0">
                        <label class="form-label visually-hidden" for="filterRazredi">Pretraži razrede</label>

                        <!-- Form -->
                        <div class="input-group input-group-merge">
                        <span class="input-group-prepend input-group-text">
                            <i class="bi-search"></i>
                        </span>
                        <input type="text" [(ngModel)]="filterText" name="filter" (input)="onFilterChange()" class="form-control form-control-lg" id="filterRazredi" placeholder="Pretraži razrede" aria-label="Pretraži razrede">
                        </div>
                        <!-- End Form -->
                    </div>
                </div>
                <!-- End Row -->
            </form>
            <!-- End Form -->
        </div>
        <!-- End List Directory -->

        <ng-container *ngIf="loading" class="spinner-container">    <!--Loading spinner-->
            <div class="spinner"></div>
        </ng-container>

        <ng-container *ngIf="!loading">
            <ng-container *ngIf="sviRazredi.length===0; else tabelaRazredi; ">
                <div>
                    <h2>Trenutno nema nijednog razreda.</h2>
                </div>
            </ng-container>
            <ng-template #tabelaRazredi>
                <table>
                    <tr>
                        <th>Školska godina</th>
                        <th>Razred</th>
                        <th>Program</th>
                        <th>Ukupan broj odeljenja</th>
                        <th>Ukupan broj učenika</th>
                        <th class="actions">Akcije</th>
                    </tr>
                    <tr *ngFor="let r of filtriraniRazredi" (click)="odeljenjaPoIdRazreda(r.id)">
                        <td>{{ r.skolskaGodina }}</td>
                        <td class="razred">{{ r.razredNaziv}}</td>
                        <td>{{ r.program }}</td>
                        <td>{{ r.ukupanBrojOdeljenja }}</td>
                        <td>{{ r.ukupanBrojUcenika }}</td>
                        <td class="akcije">
                            <button class="btn btn-edit" (click)="izmeni(r.id)">✏️ Izmeni</button>
                            <button class="btn btn-delete" (click)="obrisi(r.id); $event.stopPropagation()">🗑️ Obriši</button>
                            <button class="btn btn-insert" (click)="dodajOdeljenje(r.id); $event.stopPropagation()">➕ Dodaj odeljenje</button>
                        </td>
                    </tr>
                </table><br>
            </ng-template>

            <div class="center">
                <button class="btn btn-insert" (click)="dodajRazred()">Dodaj razred</button>
            </div><br>

            <!--ng-template #tabelaRazredi-->
            <div class="paginacija">
                <button class="btn" (click)="promeniStranicu(trenutnaStranica - 1)" [disabled]="trenutnaStranica === 1">«</button>
                <button class="btn" *ngFor="let page of [].constructor(ukupnoStranica); let i = index"
                        (click)="promeniStranicu(i + 1)"
                        [class.active]="trenutnaStranica === i + 1">
                    {{ i + 1 }}
                </button>
                <button class="btn" (click)="promeniStranicu(trenutnaStranica + 1)" [disabled]="trenutnaStranica === ukupnoStranica">»</button>
            </div><br>
            <!--/ng-template-->
        </ng-container>

    </div>

</div>

